@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
code {
  font-family: "Poppins", sans-serif;
}

.SocialCard::-webkit-scrollbar {
  width: 5px;
}

.SocialCard::-webkit-scrollbar-track {
  background:rgb(144, 145, 147) ;
  border-radius: 10px;
}

.SocialCard::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 71);
  border-radius: 10px;
}

.SocialCard::-webkit-scrollbar-thumb:hover {
  background: #0d006b;
}